<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-back" (click)="close()" size="large" class="ion-float-left">
      </ion-icon>
      <ion-title style="height:2rem;">
        Preview
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <img [src]="currentImage" />

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">

      <ion-fab-button color="light" (click)="processImage()">
        <ion-icon name="play-circle"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="light" (click)="quantifyComponent()">
        <ion-icon name="calculator"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>